@import 'common.css';
html,
body {
  min-width: 1920px;
}
.header {
  width: 100%;
  height: 65px;
  border: 1px solid red;
  background: url(../img/navbarBack.png) repeat-x;
  padding: 9.5px 16px ;
}
.header .headerMain {
  float: left;
  width: 248px;
  height: 100%;
  background: url(../img/homelogo.png) no-repeat;
}
.icon {
  display: inline-block;
  width: 26px;
  height: 24px;
  background: url(../img/sprite.png) no-repeat;
}
.headeRight {
  float: right;
}
.themeList {
  float: right;
  height: 100%;
}
.themeList .themeLi {
  min-width: 90px;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}
.themeList .iconText {
  color: #fff;
  font-size: 16px;
  margin-top: -5px;
}
.icon_Home {
  background-position: -90px 0;
}
.icon_theme1 {
  background-position: -120px 0;
}
.icon_theme2 {
  background-position: -150px 0;
}
.icon_theme3 {
  background-position: -180px 0;
}
.icon_theme4 {
  background-position: -210px 0;
}
.icon_theme5 {
  background-position: -240px 0;
}
.icon_theme6 {
  background-position: -150px -40px;
}
.icon_theme7 {
  background-position: -180px -40px;
}
.icon_theme8 {
  background-position: -210px -40px;
}
.icon_theme9 {
  background-position: -210px -40px;
}
.main {
  width: 1840px;
  margin: 0 auto;
  padding-bottom: 50px;
  border: 1px solid blue;
}
.timeDiv {
  width: 100%;
  height: 70px;
  border: 1px solid yellowgreen;
}
.firstRow {
  width: 100%;
  height: 490px;
  margin-bottom: 20px;
  border: 1px solid yellowgreen;
}
.firstRow .listDiv:first-child,
.firstRow .listDiv:last-child {
  flex: 1;
  height: 100%;
  border: 1px solid green;
}
.firstRow .listDiv:nth-child(2) {
  width: 760px;
  height: 100%;
  border: 1px solid yellow;
}
.listDiv {
  padding: 0 30px;
  background: #fff;
  position: relative;
}
.listDiv + .listDiv {
  margin-left: 20px;
}
.secondRow {
  height: 474px;
  border: 1px solid yellowgreen;
}
.secondRow .listDiv:first-child,
.secondRow .listDiv:last-child {
  flex: 1;
  height: 100%;
  border: 1px solid yellow;
}
/***header***/
.headerRight {
  margin-left: 35px;
  float: right;
  padding: 12px 0;
  line-height: 16px;
  color: #fff;
}
.headerRight .text {
  margin-right: 6px;
}
.headerRight .downIcon {
  width: 8px;
  height: 6px;
  background-position: -50px 0;
  position: relative;
  top: -2px;
}
/***main***/
.listHeader {
  height: 60px;
  border-bottom: 2px solid #f0f0f0;
}
.listHeader .listTitle {
  display: inline-block;
  height: 59px;
  line-height: 57px;
  border-bottom: 4px solid #35994a;
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
.selfTabs {
  height: 60px;
}
.selfTabs li.selfTab {
  height: 100%;
  line-height: 38px;
  border-bottom: 2px solid #f0f0f0;
}
.selfTabs li.selfTab:hover .RightTableDiv {
  padding: 0 20px!important;
  display: none;
}
.selfTabs li.active > a {
  height: 59px;
  line-height: 37px;
  border-bottom: 4px solid #35994a;
}
.selfTabs li + li {
  margin-left: 0;
}
.selfTabs li.selfTab > a {
  font-weight: 700;
  font-size: 18px;
  color: #838282;
  background: transparent;
  border-radius: 0;
  padding: 10px 14px;
}
.selfTabs li.selfTab > a:focus,
.selfTabs li.selfTab > a:hover,
.selfTabs li.active > a:focus,
.selfTabs li.active > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.selfTabs li.active > a {
  color: #333333!important;
  background: transparent;
}
.moreDiv {
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  padding: 20px 20px 30px 0;
}
.more {
  margin-top: 2px;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #666;
  padding-right: 20px;
  text-align: right;
}
.more .moreIcon {
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -79px -40px;
  margin-left: -2px;
}
.waitIcon {
  width: 22px;
  height: 6px;
  background-position: -60px 0;
  margin-left: -2px;
  margin-right: 10px;
}
.more:hover {
  color: #4398ee;
}
.more:hover .moreIcon {
  background-position: -36px -32px;
}
.RightTableDiv {
  padding: 0 20px!important;
  display: none;
}
.headLineList {
  overflow: hidden;
  padding-top: 3px;
}
.headLineLi {
  width: 100%;
  height: 45px;
  padding: 11.5px 0;
}
.headLineLi .lineMarkIcon {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  margin-top: 7px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -40px 0;
}
.headLineLi .headLine {
  width: 300px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}
.headLineLi .date {
  width: 80px;
  line-height: 22px;
  text-align: right;
  color: #999999;
}
.headLineLi + .headLineLi {
  border-top: 1px dashed #e5ebf2;
}
.waterStatus {
  padding-top: 24px;
}
.waterStatus img {
  display: block;
  width: 700px;
  margin: 0 auto;
  height: auto;
}
