@import 'common.css';
@mainTextColor:#333333;
@subTextColor:#666666;
@lightTextColor:#999999;
@titleFontSize:18px;
@perFontSize:14px;
@splitColor:#e5ebf2;
@activeColor:#35994a;
@sprite: url('../img/sprite.png') no-repeat;
html,body{
	min-width: 1920px;
}
.header{
	width: 100%;
	height:65px;
	border: 1px solid red;
	background: url(../img/navbarBack.png) repeat-x;
	padding:9.5px 16px ;
    .headerMain{
		float: left;
		width:248px;
		height: 100%;
		background: url(../img/homelogo.png) no-repeat;
	}
	
}
.icon{
	display: inline-block;
	width:26px;
	height:24px;
	background: url(../img/sprite.png) no-repeat;
}
.headeRight{
	float: right;
}
.themeList{
	float: right;
	height: 100%;
	.themeLi{
		min-width:90px;
		height: 100%;
		display: inline-block;
		text-align: center;
		padding: 0 10px;
	}
	.iconText{
	   color:#fff;
	   font-size: 16px;
	   margin-top: -5px;
	}
	
	
}
.icon_Home{
	background-position: -90px 0;
}
.icon_theme1{
	background-position: -120px 0;
}
.icon_theme2{
	background-position: -150px 0;
}
.icon_theme3{
	background-position: -180px 0;
}
.icon_theme4{
	background-position: -210px 0;
}
.icon_theme5{
    background-position: -240px 0;
}
.icon_theme6{
	background-position: -150px -40px;	
}
.icon_theme7{
	background-position: -180px -40px;
}
.icon_theme8{
	background-position: -210px -40px;
}
.icon_theme9{
	background-position: -210px -40px;
}
.main{
	width: 1840px;
	margin:0 auto;
	padding-bottom:50px;
	//overflow: hidden;
	border: 1px solid blue;
}
.timeDiv{
	width: 100%;
	height:70px; 
	border: 1px solid yellowgreen;
}
.firstRow{
	width: 100%;
	height:490px;
	margin-bottom: 20px; 
	border: 1px solid yellowgreen;
	.listDiv:first-child,.listDiv:last-child{
		flex: 1;
		height:100%; 
		border: 1px solid green;
	}
	.listDiv:nth-child(2){
		width: 760px;
		height:100%; 
		border: 1px solid yellow;
	}
}

.listDiv{
	padding:0 30px;
	background: #fff;
	position: relative;
}
.listDiv+.listDiv{
	margin-left:20px;
}
.secondRow{
	height:474px; 
	border: 1px solid yellowgreen;
	.listDiv:first-child,.listDiv:last-child{
		flex: 1;
		height:100%; 
		border: 1px solid yellow;
	}
}
/***header***/
.headerRight{
	margin-left: 35px;
	float: right;
	padding:12px 0;
	line-height: 16px;
	color: #fff;
	.text{
		margin-right:6px;
	}
	.downIcon{
		width:8px;
		height:6px;
		background-position: -50px 0;
		position: relative;
		top: -2px;
	}
}
/***main***/
.listHeader{
	height:60px;
	border-bottom: 2px solid #f0f0f0;
	.listTitle{
		display: inline-block;
		height:59px;
		line-height:57px;
		border-bottom: 4px solid #35994a;
		font-size: @titleFontSize;
		color:#333333;
		font-weight:700;
	}
}
.listContent{
//	padding: 0 30px;
}
.selfTabs{
	height:60px;
	
	li.selfTab{
		// paddin
		height:100%;
		line-height:58px;
		border-bottom: 2px solid #f0f0f0;
		
		
	}
	li.selfTab:hover{
		//border:none;
		.RightTableDiv{
			padding:0 20px!important;
			display: none;
		}
	}
	li.active>a{
		.tabText{
			height:59px;
			line-height:57px;
			border-bottom: 4px solid #35994a;
		}
		
	}
	li+li {
		margin: 0;
		.tabText{
			margin-left: 40px;	
		}
	} 
	li.selfTab>a{
	   font-weight: 700;
	   font-size: @titleFontSize;
	   color:#838282;
	   background: transparent;
	   border-radius: 0;
	   padding:0;
	}
	li.selfTab>a:focus,li.selfTab>a:hover,
	li.active>a:focus,li.active>a:hover{
		background-color: rgba(255, 255, 255, .5);
	}
	li.active>a{
		color:#333333!important;
		background: transparent;
	}
}

.moreDiv{
	height:35px;
	position: absolute;
	top: 0;
	right: 0;
	height: 46px;
	padding: 20px 20px 30px 0;
 }

 .more{
	 margin-top: 2px;
	 position: relative;
	 font-size: @perFontSize;
	 line-height: @perFontSize;
	 color:#666;
	 padding-right:20px;
	text-align: right;
	
	 .moreIcon{
		 display: inline-block;
		 width: 11px;
		 height:10px;
		 background: @sprite;
		 background-position: -79px -40px;
		 margin-left: -2px;
	 }
	 
 }
 .waitIcon{
	width: 22px;
	height:6px;
	background-position: -60px 0;
	margin-left: -2px;
	margin-right:10px;
 }
 .more:hover{
	 color: rgb(67,152,238);
	 .moreIcon{
		 //background: @sprite;
		 background-position: -36px -32px;
	 }
 }
 
.RightTableDiv{
	padding:0 20px!important;
	display: none;
}

.headLineList{
	overflow: hidden;
	padding-top:3px;
 }
 .headLineLi{
	 width: 100%;
	 height: 45px;
    padding: 11.5px 0;
	 .lineMarkIcon{
		 width:8px;
		 height:8px;
		 margin-right: 10px;
		 margin-top:7px; 
		 background: @sprite;
		 background-position: -40px 0;
	 }
	 .headLine{
		 width:300px;
		 line-height: 22px;
		 overflow: hidden;
		 text-overflow: ellipsis;
		 -o-text-overflow: ellipsis;
		 -webkit-text-overflow: ellipsis;
		 -moz-text-overflow: ellipsis;
		 white-space: nowrap;	
		 color: @mainTextColor;
	 } 
	 .date{
		 width: 80px;
		 line-height: 22px;
		 text-align: right;
		 color: @lightTextColor;
	 }
 }
 .headLineLi+.headLineLi{
	 border-top:1px dashed @splitColor;
 }
.waterStatus{
	padding-top: 24px;
	img{
		display: block;
		width:700px;
		margin: 0 auto;
		height: auto;
	}
}
/*第一行第三列的样式 start*/
.finished{
	padding-top:19px;
}
.contitle{
	font-size: 16px;
	height: 24px;
	line-height: 22px;
	color:#2e8540;
	text-align: center;
	margin-bottom:17px;
}
.panelDesc{
	padding:6px 13px 10px 15px;
	background:#f6f9f6; 
	margin-bottom: 24px;
	.textP{
		color:#333;
		font-size: 14px;
		line-height: 30px;
		text-indent: 2em;
	}
	.outFont{
		font-size: 16px;
		
	}
	span{margin-left:-3px;}
}

.panelGraphBox{
	height:100px;
   .pointText{
		font-size: 16px;
		color:#666;
		font-weight:700;
		margin-right: 18px;
    }
    .pointNum{
		font-size: 16px;
		font-weight:700;
    }
    .pointDays{
		font-size: 14px;
		color:#666;
	}
	.pointDiv{
		height:30px;
		padding:10px 0;
		position: relative;
	}
	.pointBack{
		background: #e7e7e7;
		height: 100%;
		border-radius: 5px;
	}
	.point{
		height:100%;
		border-radius: 5px;
		//border: 1px solid red;
	}

}
@greenColor:#5dc55f;
@warnColor:#ed654a;
.goodType{
    .pointNum{
		color:@greenColor;
	}
	.point{
		width:84.3%;
		background: @greenColor;
	}
	.iconMark.lastYear{
		left:80%;
	}
	.iconMark.wantPoint{
		left:88.9%;
	}
	.promptBox{
		margin-left:88.9%;
	}
}
.badType{
	margin-bottom:7px;
	.pointNum{
		color:@warnColor;
	}
	.point{
		width:2.5%;
		background: @warnColor;
	}
	.iconMark.lastYear{
		left:4%;
	}
	.iconMark.wantPoint{
		left:0;
	}
	.promptBox{
		margin-left:0;
	}
}
.promptBox{
	width: 60px;
	height: 38px;
	background: @sprite no-repeat;
	background-position:-240px -40px;
	.promptText{
		color:#ed654a;
	}
	
}
.iconMark{
	position:absolute;
	display: block;
	width:4px;
	height:30px;
	background: @sprite no-repeat; 
}
.iconMark.lastYear{
	background-position: 0 0;
	top:0;
}
.iconMark.wantPoint{
	background-position: -10px 0;
	top:0;
}
.iconMarkP{
	height:22px;
	padding:2px 0;
	text-align: right;
	.iconText{
		position: relative;
		top: -4.5px;
	}
}
.iconMark1{
	display: inline-block;
    width:4px;
	height:18px;
	background: @sprite no-repeat; 
	margin-right: 10px;

}
.iconMark1.lastYear{
	background-position: -30px 0;
}
.iconMark1.wantPoint{
	margin-left: 73px;
	background-position: -20px 0;
}
/*第一行第三列的样式 end*/
/*第二行第一列的样式 start*/
.projectStatus{
	padding-top:25px;
}
.panelDesc{
	padding:2.5px 13px 6.5px 15px;
	margin-bottom:14px;
}
.canvasDiv{
	width:108px;
	height:108px;
	border:1px solid red;
	margin-bottom:14px;
}
.markList{
	
}
/*第二行第一列的样式 end*/