@import 'common.css';
body {
  min-width: 1920px;
  background-color: #f5f7f5;
}
.header {
  width: 100%;
  height: 65px;
  background: url(../img/navbarBack.png) repeat-x;
  padding: 9.5px 16px ;
}
.header .headerMain {
  float: left;
  width: 712px;
  height: 100%;
  background: url(../img/homelogo.png) no-repeat;
}
.icon {
  display: inline-block;
  width: 26px;
  height: 24px;
  background: url(../img/sprite.png) no-repeat;
}
.headeRight {
  float: right;
}
.themeList {
  float: right;
  height: 100%;
}
.themeList .themeLi {
  min-width: 90px;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}
.themeList .themeLi .iconText {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  margin-top: -2px;
  position: relative;
}
.themeList .themeLi.active {
  position: relative;
}
.themeList .themeLi.active .iconText::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  top: 25px;
  background: #ffc000;
  border-radius: 2px;
}
.icon_Home {
  background-position: -90px 0;
}
.icon_theme1 {
  background-position: -120px 0;
}
.icon_theme2 {
  background-position: -150px 0;
}
.icon_theme3 {
  background-position: -180px 0;
}
.icon_theme4 {
  background-position: -210px 0;
}
.icon_theme5 {
  background-position: -240px 0;
}
.icon_theme6 {
  background-position: -150px -40px;
}
.icon_theme7 {
  background-position: -180px -40px;
}
.icon_theme8 {
  background-position: -210px -40px;
}
.icon_theme9 {
  background-position: -210px -40px;
}
.icon_calendar {
  width: 16px;
  height: 16px;
  background-position: -92px -40px;
  margin-right: 10px;
  top: 2px;
  position: relative;
}
.main {
  width: 1840px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.timeDiv {
  width: 100%;
  height: 70px;
  padding: 15px 0;
}
.timeDiv .time {
  font-size: 16px;
  height: 30px;
  line-height: 28px;
  color: #333;
}
.firstRow {
  width: 100%;
  height: 490px;
  margin-bottom: 20px;
}
.firstRow .listDiv:first-child,
.firstRow .listDiv:last-child {
  flex: 1;
  height: 100%;
}
.firstRow .listDiv:nth-child(2) {
  width: 760px;
  height: 100%;
}
.listDiv {
  padding: 0 30px;
  background: #fff;
  position: relative;
}
.listDiv + .listDiv {
  margin-left: 20px;
}
.secondRow {
  height: 474px;
}
.secondRow .listDiv:first-child,
.secondRow .listDiv:last-child {
  flex: 1;
  height: 100%;
}
/***header***/
.headerRight {
  margin-left: 35px;
  float: right;
  padding: 12px 0;
  line-height: 16px;
  color: #fff;
}
.headerRight .text {
  margin-right: 6px;
}
.headerRight .downIcon {
  width: 8px;
  height: 6px;
  background: url('../img/nav_xl.png') no-repeat;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.headerRight .downIcon:hover {
  transform: rotate(-180deg);
}
/***main***/
.listHeader {
  height: 60px;
  border-bottom: 2px solid #f0f0f0;
}
.listHeader .listTitle {
  display: inline-block;
  height: 59px;
  line-height: 57px;
  border-bottom: 4px solid #35994a;
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}
.selfTabs {
  height: 60px;
}
.selfTabs li.selfTab {
  height: 100%;
  line-height: 58px;
  border-bottom: 2px solid #f0f0f0;
}
.selfTabs li.selfTab:hover .RightTableDiv {
  padding: 0 20px!important;
  display: none;
}
.selfTabs li.active > a .tabText {
  height: 59px;
  line-height: 59px;
  border-bottom: 4px solid #35994a;
}
.selfTabs li + li {
  margin: 0;
}
.selfTabs li + li .tabText {
  margin-left: 40px;
}
.selfTabs li.selfTab > a {
  font-weight: 700;
  font-size: 18px;
  color: #838282;
  background: transparent;
  border-radius: 0;
  padding: 0;
}
.selfTabs li.selfTab > a:focus,
.selfTabs li.selfTab > a:hover,
.selfTabs li.active > a:focus,
.selfTabs li.active > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.selfTabs li.active > a {
  color: #333333!important;
  background: transparent;
}
.moreDiv {
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  padding: 20px 20px 30px 0;
}
.more {
  margin-top: 2px;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  color: #666;
  padding-right: 20px;
  text-align: right;
}
.more .moreIcon {
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -80px -40px;
  margin-left: -2px;
}
.waitIcon {
  width: 22px;
  height: 6px;
  background-position: -60px 0;
  margin-left: -2px;
  margin-right: 10px;
}
.more:hover {
  color: #4398ee;
}
.more:hover .moreIcon {
  background: url('../img/more2_hover.png') no-repeat;
}
.RightTableDiv {
  padding: 0 20px!important;
  display: none;
}
.headLineList {
  overflow: hidden;
  padding-top: 3px;
}
.headLineLi {
  width: 100%;
  height: 45px;
  padding: 11.5px 0;
}
.headLineLi .lineMarkIcon {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  margin-top: 7px;
  background: url('../img/sprite.png') no-repeat;
  background-position: -40px 0;
}
.headLineLi .headLine {
  width: 300px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}
.headLineLi .date {
  width: 80px;
  line-height: 22px;
  text-align: right;
  color: #999999;
}
.headLineLi {
  border-bottom: 1px dashed #e5ebf2;
}
.waterStatus {
  padding-top: 24px;
}
.waterStatus img {
  display: block;
  width: 700px;
  margin: 0 auto;
  height: auto;
}
/*第一行第三列的样式 start*/
.finished {
  padding-top: 19px;
}
.contitle {
  font-size: 16px;
  height: 24px;
  line-height: 22px;
  color: #2e8540;
  text-align: center;
  margin-bottom: 17px;
}
.panelDesc {
  padding: 6px 13px 10px 15px;
  background: #f6f9f6;
  margin-bottom: 24px;
}
.panelDesc .textP {
  color: #333;
  font-size: 14px;
  line-height: 30px;
  text-indent: 2em;
}
.panelDesc .outFont {
  font-size: 16px;
  font-weight: 700;
}
.panelDesc span {
  margin-left: -3px;
}
.panelGraphBox {
  height: 100px;
}
.panelGraphBox .pointText {
  font-size: 16px;
  color: #666;
  font-weight: 700;
  margin-right: 18px;
}
.panelGraphBox .pointNum {
  font-size: 16px;
  font-weight: 700;
}
.panelGraphBox .pointDays {
  font-size: 14px;
  color: #666;
}
.panelGraphBox .pointDiv {
  height: 30px;
  padding: 10px 0;
  position: relative;
}
.panelGraphBox .pointBack {
  background: #e7e7e7;
  height: 100%;
  border-radius: 5px;
}
.panelGraphBox .point {
  height: 100%;
  border-radius: 5px;
}
.goodType {
  margin-top: 24px;
}
.goodType .pointNum {
  color: #5dc55f;
}
.goodType .point {
  width: 84.3%;
  background: #5dc55f;
}
.goodType .iconMark.lastYear {
  left: 80%;
}
.goodType .iconMark.wantPoint {
  left: 88.9%;
}
.goodType .promptBox {
  right: 11.1%;
}
.badType {
  margin: 5px 0 7px 0;
}
.badType .pointNum {
  color: #ed654a;
}
.badType .point {
  width: 2.5%;
  background: #ed654a;
}
.badType .iconMark.lastYear {
  left: 4%;
}
.badType .iconMark.wantPoint {
  left: 0;
}
.badType .promptBox {
  margin-left: 0;
}
.promptBox {
  position: absolute;
  width: 62px;
  height: 38px;
  background: url('../img/sprite.png') no-repeat no-repeat;
  background-position: -268px -2px;
  padding-top: 8px;
  text-align: center;
  top: 32px;
  display: none;
}
.promptBox .promptText {
  width: 60px;
  color: #ed654a;
  height: 30px;
  line-height: 23.5px;
  text-align: center;
  font-weight: 700;
}
.promptBox.right {
  background-position: -330px -2px;
}
.promptBox.active {
  display: block;
}
.iconMark {
  position: absolute;
  display: block;
  width: 4px;
  height: 30px;
  background: url('../img/sprite.png') no-repeat no-repeat;
  cursor: pointer;
}
.iconMark.lastYear {
  background-position: 0 0;
  top: 0;
}
.iconMark.wantPoint {
  background-position: -10px 0;
  top: 0;
}
.iconMarkP {
  height: 22px;
  padding: 2px 0;
  text-align: right;
}
.iconMarkP .iconText {
  position: relative;
  top: -4.5px;
}
.tab-pane {
  padding-top: 20px;
  display: none;
}
.tab-pane.active {
  display: block;
}
.iconMark1 {
  display: inline-block;
  width: 4px;
  height: 18px;
  background: url('../img/sprite.png') no-repeat no-repeat;
  margin-right: 10px;
  cursor: pointer;
}
.iconMark1.lastYear {
  background-position: -30px 0;
}
.iconMark1.wantPoint {
  margin-left: 73px;
  background-position: -20px 0;
}
/*第一行第三列的样式 end*/
/*第二行第一列的样式 start*/
.projectStatus {
  padding-top: 25px;
}
.panelDesc {
  padding: 2.5px 13px 6.5px 15px;
  margin-bottom: 14px;
}
.canvasBox .contitle {
  margin-bottom: 0;
}
.canvasDiv {
  width: 100%;
  margin-top: -15px;
  height: 250px;
}
.canvasCon {
  overflow: hidden;
  position: relative;
}
.canvasCon .leftCenter,
.canvasCon .rightCenter {
  position: absolute;
  width: 50%;
  height: 36px;
  line-height: 34px;
  top: 50%;
  margin-top: -7.5px;
  transform: translateY(-50%);
  text-align: center;
}
.canvasCon .leftCenter {
  left: 0;
}
.canvasCon .rightCenter {
  left: 50%;
}
.canvasCon .outFont {
  font-size: 30px;
  font-weight: 700;
}
.markList .markLi {
  width: 205px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
}
.markList .iconLegend {
  display: inline-block;
  width: 18px;
  height: 10px;
  position: relative;
  border-radius: 2px;
  margin-right: 10px;
}
.markList .markLi:nth-child(1) .iconLegend {
  background: #64cb66;
}
.markList .markLi:nth-child(2) .iconLegend {
  background: #a6b7ff;
}
.markList .markLi:nth-child(3) .iconLegend {
  background: #158eff;
}
.markList .markLi:nth-child(4) .iconLegend {
  background: #4cdeeb;
}
.markList .markLi:nth-child(5) .iconLegend {
  background: #ff6529;
}
.markList .markLi:nth-child(6) .iconLegend {
  background: #ffac29;
}
.markList .markLi:nth-child(7) {
  width: 260px;
}
.markList .markLi:nth-child(7) .iconLegend {
  background: #ffe451;
}
/*第二行第一列的样式 end ****/
/*第二行第二列的样式 start ****/
.unfinish {
  padding-top: 16px;
}
.unfinish .tableCon {
  position: relative;
}
.unfinish .contitle {
  text-align: left;
  margin-bottom: 0;
}
.tableCon {
  margin-bottom: 15px;
}
.tableCon .moreDiv {
  right: 0;
  height: 24px;
  padding: 3px 0 3px 0;
}
.tableCon .more {
  padding-right: 0;
}
.taskTable {
  width: 100%;
  text-align: center;
}
.taskTable .thead {
  background: #f6faf7;
}
.taskTable .td {
  height: 36px;
  border: 1px solid #efefef;
}
.taskTable .hrefTd > a {
  color: #35994a;
  border-bottom: 1px solid #35994a;
}
.taskTable .tbody .tr:nth-child(2n) {
  background: #fafcfb;
}
.taskTable1 .tr .td:first-child {
  width: 106px;
}
.taskTable1 .tr .td:last-child {
  width: 120px;
}
.taskTable2 .tr .td:first-child {
  max-width: 70px;
}
.taskTable2 .tr .td:last-child {
  width: 106px;
}
/*第二行第二列的样式 end ****/
